version: 2.1

jobs:
  run-k6-on-eks:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout

      # 1️⃣ AWS CLI + kubectl install
      - run:
          name: Install AWS CLI & kubectl
          command: |
            sudo apt-get update
            sudo apt-get install -y curl unzip

            # AWS CLI v2
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            aws --version

            # kubectl
            curl -LO "https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x kubectl
            sudo mv kubectl /usr/local/bin/kubectl
            kubectl version --client

      # 2️⃣ AWS → EKS kubeconfig (AUTO)
      - run:
          name: Connect to EKS cluster
          command: |
            aws eks update-kubeconfig \
              --region $AWS_DEFAULT_REGION \
              --name $AWS_CLUSTER_NAME

            kubectl get nodes

      # 3️⃣ Namespace & ConfigMap
      - run:
          name: Prepare namespace & k6 scripts
          command: |
            echo "Running K6 tests for environment: $K6_ENV"

            kubectl get ns k6 || kubectl create ns k6
            kubectl delete configmap k6-scripts -n k6 --ignore-not-found

            kubectl create configmap k6-scripts \
              --from-file=k6/$K6_ENV \
              -n k6


      # 4️⃣ Run k6 job
      - run:
          name: Run k6 load test
          command: |
            kubectl delete job k6-demo -n k6 --ignore-not-found
            kubectl apply -f k8s/k6-job.yaml

      # 5️⃣ Wait + logs (FAIL pipeline if test fails)
      - run:
          name: Collect k6 results
          command: |
            kubectl wait --for=condition=complete job/k6-demo -n k6 --timeout=600s

            POD=$(kubectl get pods -n k6 -l job-name=k6-demo -o jsonpath='{.items[0].metadata.name}')
            kubectl logs -n k6 $POD | tee k6-output.log

      # 6️⃣ Store artifacts
      - store_artifacts:
          path: k6-output.log

  speedcurve-trigger:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install deps
          command: pip install requests
      - run:
          name: Trigger SpeedCurve test
          command: python3 ci/speedcurve_post.py
      - store_artifacts:
          path: speedcurve_response.json

workflows:
  version: 2
  performance-tests:
    jobs:
      - run-k6-on-eks
      - speedcurve-trigger
